body{
    background-color: #272729;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 314px;
    height: 101px;
    left: 33rem;
    top: 120px;
}

.onboarding{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 0px;

    color: #FFFFFF;
}

.onboarding2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;

    color: #FFFFFF
}
.input1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    
    position: absolute;
    left: 30rem;
    top: 15rem;
}
.label-email{
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 4 rem;
    line-height: 25px;

    color: #FFFFFF
}

#emailBox{
    box-sizing: border-box;

    width: 30em;
    height: 4em;

    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: #272729;
    color: #FFFFFF;
}
.input2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    position: absolute;
    left: 30rem;
    top: 22rem;
}

.label-senha{
    width: 86.02px;
    height: 24px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 4 rem;
    line-height: 25px;

    color: #FFFFFF;
}

#passwordBox{
    box-sizing: border-box;

    width: 30em;
    height: 4em;

    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: #272729;
    color: #FFFFFF
}

.forgot-password{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: absolute;
    left: 46rem;
    top: 28rem;
}
.forgot{
    color: #8B8DCF;
}
.loginButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 180px;
    gap: 10px;

    position: absolute;
    left: 30rem;
    top: 32rem;

    background: #8B8DCF;
    border-radius: 10px;
}
.googleButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:  10px 105px;
    gap: 10px;

    position: absolute;
    left: 30rem;
    top: 36rem;

    background: #FFFFFF;
    border-radius: 10px;
}
.entrar-google{

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    /* identical to box height */


    color: #8B8DCF;
}

.criar-conta{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    line-height: 45px;

    position: absolute;
    left: 36rem;
    top: 38rem;
    color:#FFFFFF;
}
.signup{
    color: #8B8DCF;
}
